* {
    padding: 0;
    margin: 0;;
}

button {
    border: none;
    background: transparent;
}

nav {
    position: relative;
    background-color: #f1f1f1;
    padding: 16px;
}

.nav-closed {
    display: flex;
    align-items: center;
}

header nav a:first-child {
    position: relative;
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.hidden {
    display: none;
}

.top-0 {
    top: 0;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}

li {
    list-style: none;
}

.social-img {
    max-width: 32px;
}

a {
   font-weight: 400;
}

.menu-btn {
    width: 32px;
    position: absolute;
    right: 0;
}